{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1>
        PORTFOLIO
    </h1>

    <table class="table table-striped" style="width:100%">
      <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Shares</th>
        <th>Price</th>
        <th>TOTAL</th>
      </tr>

    {% for stock in stocks %}
      <tr>
        <td>{{ stock.symbol }}</td>
        <td>{{ stock.name }}</td>
        <td>{{ stock.shares }}</td>
        <td>{{ stock.price }}</td>
        <td>{{ stock.total }}</td>
      </tr>
    {% endfor %}

      <tr>
        <td>CASH</td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{ cash }}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b>{{ total }}</b></td>
      </tr>
    </table>

    <h3>
      Add Money!
    </h3>
    <form action="/money" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="moola" placeholder="Enter Amount" type="text"/>
        </div>
        <button class="btn btn-primary" type="submit">$$$</button>
    </form>
{% endblock %}